// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.select2-container {
  width: 100%;
}

.btn-default { background-color: #fff; }

.form-group {
  height: 100%;
  overflow: hidden;
  margin-bottom: 10px;

//  label {
//    margin-bottom: 0;
//    line-height: 30px;
//  }
}

option[value='nvt'] { background-color: #c9302c; color: white; }